/* .Home {
    
    text-align: center;
    padding: 5px;
    width: 100vw;
    height: 100vh;
  } */

  /* body {
    background-color: rgb(245, 207, 231);
  } */


  .Home-header{
    color: magenta;
    font-size: 3rem;
  }

 