.NewColorForm{
    text-align: left;
}

.NewColorForm-input{
    font-size: 2rem;
}

label{
 font-size: 3rem;
}

.NewColorForm-inputset{
    display: block;
    margin: 2rem;
}

button{
    font-size: 2rem;
    border-radius: 4px;
}